table {
	border-bottom: 2px solid #1279e8;
}

#kalendar-cell {
	font-size: "22px";
	width: 120px;
	height: 120px;
}

#kalendar-cell:hover {
	background-color: #656A7C;
	color: white;
}

#kalendar-prev-button {
	width: 100%;
}

#kalendar-next-button {
	width: 100%;
}

table {
	border-radius: 10px;
}

table thead tr {
	text-align: center;
	background-color: #1279e8;
	color: white;
}

#kalendar-table {
	border: 1px solid gray;
}

/*.table-bordered {
	border: 2px solid blue;
}*/